#profile-page p {
    font-size: 1.7em;
    text-align: center;
}

#profile-page .user-places {
    margin-top: 5em;
}

#profile-page profile-data {
    border-top: 0.01em solid;
    margin-top: 5em;
    text-align: center;
}


#profile-page h1 {
    text-align: center;
}