.form .user-input {
    width: 100%;
    height: 3.1em;
    border: none;
    background: var(--inputBackgroundText);
    color: var(--textColor);
    font-size: 18px;
    text-align: center;
    border-radius: 1em;
}

.form .textarea {
    padding-top: 0.8em;
    min-height: 5em;
}

.form .error-input {
    border: solid var(--defaultErrorColor) 0.15em;
}

.form .field-wrapper {
    margin-bottom: 1.7em;
}

.form select.select {
    text-align: center;
    text-align-last: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form select.placeholder {
    color: var(--placeholderColor)
}

.form select.select optgroup {
    background: var(--selectBackgroundColor);
    color: var(--textColor);
}

@media screen and (max-width: 500px) {
    .form .user-input {
        width: 100%
    }
}