#content {
    margin: auto;
    max-width: 50rem;
    padding-top: 2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 2em;
    font-size: 1.1em;
    font-weight: 400;
}

#content h1 {
    font-weight: 900;
    position: relative;
    font-size: 3em;
}

#content h2 {
    font-weight: 900;
    position: relative;
    font-size: 2.5em;
}

#content .label:after {
    content: '';
    width: 1em;
    height: 0.1em;
    left: 0;
    bottom: -0.2em;
    background-color: var(--textColor);
    position: absolute;
    -webkit-transition: all var(--transition);
    -ms-transition: all var(--transition);
    transition: all var(--transition);
}

#content p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.75rem;
    font-size: 1.1em;
    line-height: 1.55em;
    text-align: justify;
}

#content img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#content a, .anchorLike {
    color: var(--anchorTextColor);
    text-decoration: none;
}

#content a:hover, .anchorLike  {
    text-decoration: underline;
}

#content blockquote {
    margin-left: -1.75rem;
    margin-right: 1.75rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1.4rem;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.75rem;
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: inherit;
    font-style: italic;
    border-left: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
    border-left-color: inherit;
    opacity: 0.8;
}

@media only screen and (max-width: 420px) {
    #content h1 {
        font-size: 2.8em;
    }
}